<div class="pod-mask">
  <div class="pod-container">
    <div class="header">
      <div class="customer">
        <span>Customer Name Here</span>
        <span>
          <img src="../../../../assets/icons/dots.png" height="20" alt="#">
          <img src="../../../../assets/icons/dots.png" height="20" alt="#">
        </span>
      </div>
      <div class="sub-header">
       <span>Leid-007777</span>
       |
       <span>K00-770</span>
      </div>
    </div>
    <div class="graphic-section">
      <div [chart]="chart"></div>
    </div>
  </div>
</div>
